<!DOCTYPE html>
<html>
<head>
  <title>Website Footer</title>
  <!-- <link rel="stylesheet" href="/path/to/bootstrap.css"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css">
    <style>
    .footer {
      padding: 60px; /* Add desired padding value */
    }
  </style>
</head>

<footer class="footer">
  <div class="container text-center">
    <p>&copy; Members Only. All rights reserved.</p>
  </div>
</footer>
