<!-- 
<H1>Members Only</H1> -->

<!-- header.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Website Header</title>
 
</head>
<body>
  <header >
    <!-- Header content goes here -->
    <h1>Members Only</h1>
    
 
  </header>
</body>
</html>
