<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
    body {
      background-color: black;
      background-repeat: no-repeat;
      background-size: cover;
    }
    h1 {
      color: gray;
    }
  </style>
</head>
<body>
           <%- include('partials/header.ejs'); %>
                  <%- include('partials/navbar.ejs'); %>
  <br />

  <h1>SAM TAM [SET 2E DTC] COMP2537: ASSIGNMENT 2</h1>
  
       <%- include('partials/footer.ejs'); %>

</body>
</html>
