<!DOCTYPE html>
<html>
  <head>
    <!-- <style type="text/css">
      body {
        background-color: black;
        background-repeat: no-repeat;
        background-size: cover;
      }
      h1 {
        color: white;
      }
      a {
        color: white;
      }
      li {
        color: white;
      }
    </style> -->
  </head>
  <body>
    <%- include('partials/header.ejs'); %>
                      <%- include('partials/navbar.ejs'); %>
  <br />

    <!-- <h1>Members Only</h1> -->
    <br />
    <a href="/about">about</a>
    <br />
    <a href="/contact">contact</a>
    <br />
    <a href="/createUser">sign up</a>
    <br />
    <a href="/login">login</a>
    <br />
    <a href="/nosql-injection">nosql-injection</a>
    <br />
    <a href="/logout">logout</a>
    <br />
    <a href="/members">members</a>
    <br />
    <%- include('partials/footer.ejs'); %>
  </body>
</html>
