<style type="text/css">
  body {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
  }
  h1 {
    color: white;
  }
  a {
    color: white;
  }
  li {
    color: white;
  }
</style>
       <%- include('partials/header.ejs'); %>
                         <%- include('partials/navbar.ejs'); %>
  <br />

<h1>Invalid username</h1>
<br />
<a href="/">home</a>
<br />
<a href="/login">Try Again </a>
     <%- include('partials/footer.ejs'); %>
