<!DOCTYPE html>

<html>
  <head>
    <!-- <style type="text/css">
      body {
        background-color: black;
        background-repeat: no-repeat;
        background-size: cover;
      }
      h1 {
        color: white;
      }
      a {
        color: white;
      }
      li {
        color: white;
      }
    </style> -->

    <br />
  </head>
  <body>
           <%- include('partials/header.ejs'); %>
                             <%- include('partials/navbar.ejs'); %>
  <br />
    <h3>You are logged out.</h3>

    <br>
    
         <%- include('partials/footer.ejs'); %>

  </body>
</html>
