<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      body {
        background-color: black;
        background-repeat: no-repeat;
        background-size: cover;
      }
      h1 {
        color: white;
      }
      a {
        color: white;
      }
      li {
        color: white;
      }
    </style>
  </head>
  <body>
           <%- include('partials/header.ejs'); %>
                             <%- include('partials/navbar.ejs'); %>
  <br />

    <% if (!username) { %>
    <h3>no user provided - try /nosql-injection?user=name</h3>
    <h3>or /nosql-injection?user[$ne]=name</h3>
    <% } else if (error) { %>
    <h1 style="color: darkred">A NoSQL injection attack was detected!!</h1>
    <% } else { %>
    <h1>Hello <%= username %></h1>
    <% } %>
         <%- include('partials/footer.ejs'); %>

  </body>
</html>
