<!DOCTYPE html>
<html>
  <head>
    <title>Submit Email</title>
    <style type="text/css">
      body {
        background-color: black;
        background-repeat: no-repeat;
        background-size: cover;
      }
      h1 {
        color: white;
      }
      a {
        color: white;
      }
      li {
        color: white;
      }
    </style>
  </head>
  <body>
           <%- include('partials/header.ejs'); %>
                             <%- include('partials/navbar.ejs'); %>
  <br />

    <% if (!email) { %> <% res.redirect("/contact?missing=1") %> <% } else { %>
    <p>Thanks for subscribing with your email: <%= email %></p>
    <% } %>
         <%- include('partials/footer.ejs'); %>

  </body>
</html>
